.advert{
  font-family: digital;
}

.cards-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.cards-container *{
  flex: auto;
  font-size: 50px;
}

.countryList{
  border-radius: 15px;
}

.countryListItem{
  border-radius: 15px;
}