<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Covid-19
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon size="large" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" *ngIf="casesSpain">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <ion-toolbar>
      <ion-title class="CurrentTime"> {{currentTime | date: 'EEEE dd MMMM yyy  HH:mm:SS'}}
      </ion-title>
      <ion-title size="large" class="advert"> {{ titletl }} {{ casesSpain.record_date | date:'EEEE, dd MMM yyy  HH:mm:SS' }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="cards-container">
    <ion-card class="ion-card-size">
      <ion-card-header>
        <ion-card-title style="color:aqua">Total infectados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{casesSpain.total_cases}}</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-card-size">
      <ion-card-header>
        <ion-card-title style="color: chartreuse;">Total recuperados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{casesSpain.total_recovered}}</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-card-size">
      <ion-card-header>
        <ion-card-title style="color:red">Total fallecidos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{ casesSpain.total_deaths }}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list class="countryList">
    <ion-item *ngFor="let country of casesCovid19" class="countryListItem">
      <div>{{country.country_name}}</div>
    </ion-item>
  </ion-list>
</ion-content>